* {
  box-sizing: border-box;
  background-color: aqua;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footergeneral {
  display: flex;
  justify-content: space-between;
}
.company {
  font-size: 2rem;
}
.colaborated {
  font-size: 2rem;
}
